# Secrets & Config
.env
*.env

healthcare-platform/.env

# Python junk
**/__pycache__/
**/*.pyc
**/*.ipynb_checkpoints
.venv/
backend/app/__pycache__/

# Java junk
**/target/
**/mvnw
**/mvnw.cmd
**/.mvn/

# Frontend junk
**/node_modules/
**/dist/